<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">List of last 100 Github gist</div>
    <div class="panel-body">
      <div class="col-xs-12">
        <form class="form-horizontal">
          <div class="pull-right form-group col-xs-4">
            <input
              type="text"
              class="form-control"
              placeholder="Search"
              ng-model="vm.pattern"
            >
          </div>
        </form>
      </div>
      <div class="col-xs-12">
        <table class="table table-hover table-gist">
          <thead>
            <tr>
              <th class="td-username"></th>
              <th>Filename</th>
              <th>Type</th>
              <th>Language</th>
              <th>Size</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr
              ng-repeat="file in vm.files | filter: vm.pattern track by file.raw_url"
            >
              <td>
                <img
                  alt="Github avatar profile"
                  class="img-circle"
                  ng-if="file.owner"
                  ng-src="{{ file.owner.avatar_url }}"
                >
                <i
                  ng-if="!file.owner"
                  class="fa fa-github"
                ></i>
                <span
                  class="username"
                >{{ file.owner.login || '-' }}</span>
              </td>
              <td><span>{{ ::file.filename }}</span></td>
              <td><span>{{ ::file.type }}</span></td>
              <td><span>{{ ::file.language || '-' }}</span></td>
              <td><span>{{ ::file.size }}</span></td>
              <td><a href=""></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>