<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">List of last 100 Github gist</div>
    <div class="panel-body">
      <div class="col-xs-12">
        <form class="form-horizontal">
          <div class="form-group col-xs-4">
            <div class="row">
              <label class="control-label col-xs-5" for="">Filed to search</label>
              <div class="col-xs-6">
                <select
                  class="form-control"
                  ng-model="vm.field"
                >
                  <option value="filename">Filename</option>
                  <option value="login">Username</option>
                  <option value="type">Type</option>
                  <option value="language">Language</option>
                  <option value="size">Size</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group radio col-xs-5">
            <label class="radio-inline">
              <input
                type="radio"
                name="regex"
                value="##PATTERN##"
                ng-model="vm.regex"
              > Match all
            </label>
            <label class="radio-inline">
              <input
                type="radio"
                name="regex"
                value="^##PATTERN##"
                ng-model="vm.regex"
              > Begin with
            </label>
            <label class="radio-inline">
              <input
                type="radio"
                name="regex"
                value="##PATTERN##$"
                ng-model="vm.regex"
              > End with
            </label>
          </div>
          <div class="pull-right form-group col-xs-4">
            <input
              type="text"
              class="form-control"
              placeholder="Search"
              ng-model="vm.pattern"
            >
          </div>
        </form>
      </div>
      <div class="row">
        <hr class="col-xs-12">
      </div>
      <div class="col-xs-12">
        <div class="table-responsive">
          <table class="table table-hover table-gist">
            <thead>
              <tr>
                <th class="td-username"></th>
                <th>Filename</th>
                <th>Type</th>
                <th>Language</th>
                <th>Size</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr
                ng-repeat="file in vm.files | regex: { pattern: vm.pattern, regex: vm.regex, field: vm.field } track by file.raw_url"
              >
                <td>
                  <img
                    alt="Github avatar profile"
                    class="img-circle"
                    ng-if="file.login"
                    ng-src="{{ file.avatar_url }}"
                  >
                  <i
                    ng-if="!file.login"
                    class="fa fa-github"
                  ></i>
                  <span
                    class="username"
                  >{{ file.login || '-' }}</span>
                </td>
                <td><span>{{ ::file.filename }}</span></td>
                <td><span>{{ ::file.type }}</span></td>
                <td><span>{{ ::file.language || '-' }}</span></td>
                <td><span>{{ ::file.size }}</span></td>
                <td><a href=""></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>