.navbar-brand {
  color: $black !important;

  i {
    vertical-align: -3px;
    font-size: 1.3em;
    margin-right: 2px;
  }
}
.countdown {
  margin-top: 15px;

  span {
    display: inline-block;
    width: 18px;
  }
}