// List
.table-gist {

  td {
    vertical-align: middle !important;
  }
  .img-circle {
    width: 30px;
  }
  .username {
    margin-left: 5px;
  }
  i {
    font-size: 35px;
    vertical-align: -7px;
    height: 30px;
    margin-top: -5px;
  }
}