// List
form {
  .form-group {
    margin-bottom: 0;
  }
  .radio {
    margin-top: 3px;
  }
  input[type="radio"] {
    margin-top: 2px;
  }
}
.table-gist {

  .td-username {
    word-wrap: nowrap;
  }
  td {
    vertical-align: middle !important;
  }
  .img-circle {
    width: 30px;
  }
  .username {
    margin-left: 5px;
  }
  i {
    font-size: 35px;
    vertical-align: -7px;
    height: 30px;
    margin-top: -5px;
  }
}